#footer {
  padding-top: 61px;
  padding-bottom: 59px;
  background-color: var(--colorBgPrimary);
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-form {
  display: flex;
  gap: 36px;
}

.footer-input {
  background-color: var(--colorBgField);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 80px;
  border-radius: 20px;
  border: 0px solid black;
  color: var(--colorTextSecondary);
}

.footer-button {
  background-color: var(--colorTextPrimary);
  color: var(--colorBgPrimary);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: 0px solid black;
}

.footer-text {
  font-size: 6px;
}
