#footer {
  padding-top: 61px;
  padding-bottom: 59px;
  background-color: var(--colorBgPrimary);
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-form {
  display: flex;
  gap: 36px;
}

.footer-input {
  background-color: var(--colorBgField);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 80px;
  border-radius: 20px;
  border: 0px solid black;
  color: var(--colorTextSecondary);
}

.footer-button {
  background-color: var(--colorTextPrimary);
  color: var(--colorBgPrimary);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border: 0px solid black;
}

.footer-text {
  font-size: 6px;
}

.btn__close {
  background-color: var(--color-text-primary);
  width: 15px;
  height: 15px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 30px;
}

.modal-title {
  font-size: 20px;
  font-family: var(--fontSecondary);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--colorBgPrimary);
  width: 463px;
  height: 245px;
  top: 50%;
  left: 50%;
  border: 0px solid black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalphoto {
  width: 30px;
  height: 30px;
  background-image: url(../../images/sword.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
}
.modalphoto-one {
  left: 43px;
  top: 69px;
  z-index: 70;
}
.modalphoto-two {
  background-image: url(../../images/puzzle.svg);
  left: 87px;
  bottom: 70px;
  z-index: 70;
}
.modalphoto-three {
  background-image: url(../../images/tic-tac-toe.svg);
  bottom: 70px;
  right: 86px;
  z-index: 70;
}
.modalphoto-four {
  background-image: url(../../images/game-development.svg);
  right: 42px;
  top: 69px;
  z-index: 70;
}

@media (max-width:1024px) {
  .footer__container {
    flex-direction: column;
    gap: 20px;
  }
}