.game-id_2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &&::before {
    content: '';
    display: block;
    width: 536px;
    height: 1px;
    background-color: var(--colorTextPrimary);
  }
}

.guess-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-top: 36px;
  color: var(--colorTextPrimary);
}

.guess-box {
  display: flex;
  flex-direction: row;
  gap: 202px;
  position: relative;
}

.guess-input-wrapper {
  position: relative;
  display: flex;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  &:hover {
    transform: translateY(5px);
  }
}
.guess-input-wrapper::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-103%);
  width: 35px;
  height: 34px;
  background-color: #000000;
  border-radius: 0 20px 20px 0;
  background-image: url('../../images/magnifyier.svg');
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.guess-input {
  max-width: 150px;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  box-shadow: 3 3 0 0 #00000040;
  background-color: var(--colorBgField);
  color: var(--colorTextSecondary);
  margin-bottom: 36px;
}

.guess-subtitle {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #039900;
}
