/* modal */
.modal.hidden {
  display: none;
}

.modal {
  background-color: var(--colorBgPrimary);
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__all {
  background-color: var(--colorBgPrimary);
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 400px;
  position: relative;
}
.close__button {
  width: 15px;
  height: 15px;
  background-color: var(--colorBgPrimary);
  background-image: url(../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  right: -50px;
  top: -15px;
  z-index: 70;
  transition: transform, 500ms, ease-in-out;
}
.close__button:active {
  transform: translateY(10px);
}
.modal__list {
  width: 400px;
  position: relative;
}
.modal__photo {
  width: 30px;
  height: 30px;
  background-color: var(--colorBgPrimary);
  background-image: url(../../images/sword.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
}
.modal__photo--one {
  left: -35px;
  top: 120px;
  z-index: 70;
}
.modal__photo--two {
  background-image: url(../../images/puzzle.svg);
  left: -10px;
  top: 220px;
  z-index: 70;
}
.modal__photo--three {
  background-image: url(../../images/tic-tac-toe.svg);
  right: -10px;
  top: 220px;
  z-index: 70;
}
.modal__photo--four {
  background-image: url(../../images/play_station.svg);
  top: 120px;
  right: -35px;
  z-index: 70;
}

.modal__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form__input {
  border-radius: 20px;
  padding: 10px 90px 10px 10px;
  background-color: var(--colorBgField);
}
.form__button {
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--colorBgPrimary);
  background-color: var(--colorTextPrimary);
}

.seconde__modal {
  background-color: var(--colorBgPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
  position: fixed;
  inset: 0;
}
.modal__list--seconse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seconde__modal.hidden {
  display: none;
}
/* header */
.header__container {
  padding-top: 20px;
  display: flex;
  gap: 50px;
}
.header__logo {
  display: flex;
}
.logo__link--picture {
  padding-right: 10px;
  width: 55px;
  height: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__link_photo--dark {
  transform: translateY(-200%);
}
.logo__link_photo--white {
  transform: translateY(-100%);
}

.logo__link_photo--dark.dark_logo {
  transform: translateY(0);
}
.logo__link_photo--white.dark_logo {
  transform: translateY(-300%);
}
.logo__link {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 45px;
}

.logo__link--part {
  font-family: var(--fontLogo);
}
.about__list {
  display: flex;
  gap: 50px;
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.menu:hover {
  overflow: visible;
}
.menu__interactive {
  width: 160px;
  display: flex;
  align-items: center;
  gap: 10px;
  &&::after {
    transform: rotate(0);
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    content: '';
    left: 0;
    width: 10px;
    height: 5px;
    background-image: url(../../images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.menu:hover .menu__interactive::after {
  transform: rotate(180deg);
}
.menu__list {
  left: -25%;
  bottom: 100%;
  position: absolute;
  border: 1px solid var(--colorTextPrimary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  width: 160px;
  transition-duration: 500ms;
  transition-property: bottom;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.menu:hover .menu__list {
  bottom: -50%;
}
.menu__item {
  max-width: 160px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item:hover {
  background-color: var(--colorBgChoose);
  cursor: pointer;
}
.menu__item--dark:hover {
  background-color: var(--colorBgChooseDark);
  cursor: pointer;
}
.menu__item--three:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header__about {
  display: flex;
  flex-grow: 1;
}
.header__somthing {
  display: flex;
  gap: 50px;
}
.switcher {
  position: relative;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: var(--colorBgSwitch);
  border-radius: 50px;
}
.switcher:checked::before {
  transform: translatex(100%);
  background-color: #000000;
  background-image: url(../../images/moon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000;
}
.switcher::before {
  transform: translatex(0);
  transition-duration: 500ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--colorTextPrimary);
  content: '';
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--colorBgPrimary);
  background-image: url(../../images/sun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
