.leap-year-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.leap-year-title {
  font-family: var(--fontPrimary);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-top: 36px;
  color: var(--colorTextPrimary);
}

.leap-year-box {
  display: flex;
  flex-direction: row;
  gap: 202px;
  align-items: center;
  position: relative;
}

.leap-year-input-wrapper {
  position: relative;
}

.leap-year-input-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 34px;
  background-color: var(--colorTextPrimary);
  border-radius: 0 20px 20px 0;
  background-image: url('../../images/magnifyier.svg');
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.leap-year-input {
  padding: 10px 45px 10px 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px var(--colorTextSecondary);
  background-color: var(--colorBgField);
}

.leap-year-result {
  font-size: 14px;
  font-family: var(--fontPrimary);
  color: var(--colorCorrect);
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  flex-shrink: 0;
}
