.game-id_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-id_3::before {
  display: block;
  content: '';
  width: 536px;
  height: 1px;
  background-color: var(--colorTextPrimary);
  margin-bottom: 36px;
}

.rps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.rps-title {
  font-size: 16px;
}

.rps-gameplay {
  position: relative;
}

.rps-list {
  display: flex;
  gap: 38px;
  align-items: center;
}

.rps-score {
  position: absolute;
  right: -75%;
  top: -0%;
}

.rps-button__option {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  transition-property: box-shadow, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  background-color: var(--colorBgRPS);
  border: 0px solid var(--colorBgRPS);
  border-radius: 20px;
}

.rps-button__option:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 8px 15px var(--colorBgRPS);
}

.rps-button__option:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 12px 24px var(--colorBgRPS);
}

.rps-button__option--active {
  box-shadow: 0 12px 24px var(--colorBgRPS);
}

.rock {
  background-image: url(../../images/stone.png);
}

.scissors {
  background-image: url(../../images/scissors.png);
}

.paper {
  background-image: url(../../images/paper.png);
}

.rps-button {
  color: var(--colorTextSecondary);
  background-color: var(--colorBgRPS);
  border: 0px solid var(--colorBgRPS);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 36px;
  transition-property: box-shadow, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.rps-button:hover {
  box-shadow: 0 8px 15px #000000;
}

.rps-button:active {
  transform: translateY(2px) scale(0.98);
}
