.game-id_10 {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-id_10::before {
  content: '';
  display: block;
  width: 536px;
  height: 1px;
  background-color: var(--colorTextPrimary);
  margin-bottom: 36px;
}
.scientists-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
  color: var(--colorTextPrimary);
  text-align: center;
}

.scientists-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px 59px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 580px;
}

.scientists-card-item {
  /* flex-basis: calc((100% - 36px) / 6); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scientist-name {
  width: 100px;
  height: 100px;
  background-color: var(--colorBgSecondary);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scientists-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 36px;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.scientists-item {
  flex-basis: calc((100% - 36px) / 2);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.scientists-item--odd {
  justify-content: flex-end;
}
.scientists-item--even {
  justify-content: flex-start;
}

.scientists-item--longshor {
  max-width: 368px;
}

.scientists-btn {
  background-color: var(--colorTextPrimary);
  color: var(--colorBgPrimary);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: start;
  box-shadow: 3px 3px 0px 0px #00000025;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.scientists-btn:hover {
  box-shadow: 5px 5px 2px 0px #00000070;
}
.scientists-btn--1 {
  width: 489px;
}
