<footer id="footer">
  <div class="container footer__container">
    <div class="footer-photo">
      <img
        class="footer-logo"
        src="./images/magic-coding.svg"
        alt="magic-coding"
      />
    </div>
    <div class="footer-info">
      <ul class="footer-list">
        <li class="footer-li">Тел: +38 (123) 456 78 90</li>
        <li class="footer-li">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-li">Facebook: CodingMagic</li>
        <li class="footer-li">Twitter: CodingMagic</li>
        <li class="footer-li">Instagram: CodingMagic</li>
      </ul>
    </div>
    <div class="footer-subscribe">
      <div class="footer-form">
        <input
          placeholder="Ваша ел. адреса..."
          type="text"
          class="footer-input"
        />
        <button class="footer-button">Підписатись</button>
      </div>
      <p class="footer-text">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
