<footer class="footer">
  <div class="container footer-container">
    <div class="footer-photo">
      <img
        class="footer-img"
        src="../images/magic-coding.svg"
        alt="magic-coding"
      />
    </div>
    <div class="footer-info">
      <ul class="footer-list">
        <li class="footer-li">Тел: +38 (123) 456 78 90</li>
        <li class="footer-li">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-li">Facebook: CodingMagic</li>
        <li class="footer-li">Twitter: CodingMagic</li>
        <li class="footer-li">Instagram: CodingMagic</li>
      </ul>
    </div>
    <input placeholder="Ваша ел. адреса..." type="text" class="footer-input" />
    <button class="footer-button">Підписатись</button>
    <p class="footer-text">
      *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
    </p>
  </div>
</footer>
