<div class="container header__container">
  <div class="modals">
    <div class="backdrop__header">
      <div class="modal">
        <button class="close__button"></button>

        <ul class="modal__list">
          <li class="modal__item">
            <div class="modal__photo modal__photo--one"></div>
          </li>

          <li class="modal__item">
            <div class="modal__photo modal__photo--two"></div>
          </li>
          <li class="modal__item">
            <div class="modal__photo modal__photo--three"></div>
          </li>
          <li class="modal__item">
            <div class="modal__photo modal__photo--four"></div>
          </li>
        </ul>
        <p class="modal__text">
          <span class="modal__text--part">Привіт!</span> Ви потрапили на сайт
          інтерактивних ігор та завдань Надіємось, що вам сподобається і ви
          отримаєте позитивні емоції! Бажаємо Вам гарно провести час!!
        </p>
        <form class="modal__form">
          <p class="form__text">Введіть своє ім’я:</p>
          <input
            class="form__input"
            id="form__input"
            type="text"
            placeholder="Ваше ім’я..."
            required
          />
          <button class="form__button">Зберегти</button>
        </form>
      </div>
    </div>
    <div class="seconde__backdrop__header hidden">
      <div class="seconde__modal">
        <button class="close__button"></button>

        <ul class="modal__list">
          <li class="modal__item">
            <div class="modal__photo--seconde modal__photo--five"></div>
          </li>

          <li class="modal__item">
            <div class="modal__photo--seconde modal__photo--six"></div>
          </li>
          <li class="modal__item">
            <div class="modal__photo--seconde modal__photo--seven"></div>
          </li>
          <li class="modal__item">
            <div class="modal__photo--seconde modal__photo--eight"></div>
          </li>
        </ul>

        <h2 class="modal__title">Дякую за підписку!</h2>
      </div>
    </div>
  </div>
  <div class="header__logo">
    <a class="logo__link_picture" href="#">
      <div class="logo__link_photo logo__link_photo--dark">
        <img class="logo__img" src="./images/logo_dark.svg" alt="logo" />
      </div>
      <div class="logo__link_photo logo__link_photo--white">
        <img class="logo__img" src="./images/logo.svg" alt="logo" />
      </div>
    </a>
    <a class="logo__link" href="#">
      Coding <span class="logo__link--part">Magic</span>
    </a>
  </div>
  <div class="menu">
    <p class="menu__interactive">Інтерактив</p>
    <ul class="menu__list">
      <li class="menu__item" data-category="numerical">
        <p class="menu__text">Числовий</p>
      </li>
      <li class="menu__item" data-category="game">
        <p class="menu__text">Ігровий</p>
      </li>
      <li class="menu__item menu__item--three" data-category="acquaintance">
        <p class="menu__text">Ознайомчий</p>
      </li>
    </ul>
  </div>
  <div class="header__about">
    <ul class="about__list">
      <li class="about__item">
        <a class="about__link" href="#">Наша команда</a>
      </li>
      <li class="about__item">
        <a class="about__link" href="#footer">Контакти</a>
      </li>
    </ul>
  </div>
  <div class="header__somthing">
    <div class="header__switcher">
      <input class="switcher" type="checkbox" />
    </div>
    <div class="header__helloing">
      <p class="helloing__text">
        Вітаємо, <span class="helloing__text--part">User</span>!
      </p>
    </div>
  </div>
</div>
