body {
  font-family: var(--fontPrimary);
  font-size: 12px;
  font-weight: 400;
  color: var(--colorTextPrimary);
  line-height: 1.25;
}
.dark {
  color: var(--colorTextPrimaryDark);
  background-color: var(--colorBgPrimaryDark);
}
.logo__img--dark {
  fill: var(--colorTextPrimaryDark);
  background-color: aliceblue;
.container {
  max-width: 1120px;
  padding: 0px 15px;
  margin-inline: auto;
}
